.cardo {
    font-family: 'Cardo', serif;
}

.cinzel {
    font-family: 'Cinzel', serif;
}

.tac {
    text-align: center;
}

/* Nav */

.nav-bar {
    height: 100px;
    background-color: white;
    color: black;
    border-bottom: 3px solid goldenrod;
}

.title {
    padding-top: 20px;
    letter-spacing: 5px;
}

.bg-none {
    background-color: transparent !important;
    border-color: none !important;
}

.logo-spacing {
    padding-right: 10px;
}

.nav-drop {
    background-color: #242427;
}

.menu-buttons {
    color: #b49a69;
    font-size: 20px;
}

.menu-buttons-brand {
    color: #242427;
    font-size: 30px;
    border: 1px solid #242427;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background: #b49a69 !important;
}

.menu-btn {
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 45px;
}